"use strict";

const pass = require('./password.js');
const fetch = require("node-fetch");
const db = require('./database.js');

// Config options can be found here: https://www.npmjs.com/package/dank-twitch-irc#client-options
const opts = {
    username: "botusername",
    password: pass.password
};

// list of user IDs with superuser privileges
const devIDs = ["123456", "654321"];

// Auth-related shit
const clientID = pass.clientId;
const clientSecret = pass.clientSecret;
const githubToken = pass.gitHubToken;

module.exports = {
    opts: opts,
    devIDs: devIDs,
    clientID: clientID,
    clientSecret: clientSecret,
    githubToken: githubToken,
    authToken: "",
    setNewAppAccessToken: async function(){
        const url = `https://id.twitch.tv/oauth2/token?client_id=${clientID}&client_secret=${clientSecret}&grant_type=client_credentials`;
        let response = await fetch(url, {method: 'POST'});
        let data = await response.json();
        db.setToken(data['access_token']);
        module.exports.authToken = data['access_token'];
    },
    loadAppAccessToken: function(){
        db.getAllData(function(token){
            module.exports.authToken = token;
        },'IMPORTANT');
    }
}
