module.exports = {
    password: "oauth:kjndfglkmsdkmfsoldkmflkm",
    clientId: "jklhndsfgkjhbndskfjghndfg",
    clientSecret: "jhbjshbdfjhaksbdfkjhbsdfkjhbsdf",
    gitHubToken: "jkhbasdfjkhbjkasdhbfjkhasdbf"
};
